body {
    margin-top:100px;
   
    font-family: Verdan, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #406419;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #abbb1e;
    color: #2b2839;
    border-bottom: 4px solid #406419;
        border-radius: 20px;
        text-shadow:10px 10px 10px #052105;
     
}

.border-blue {
    border: 1px dotted #C9F59B;
}

